<%- include('header'); -%>
    <div class="box" id="heading">
        <h1>About To Do list</h1>
    </div>
    <div class="box">
        <p>This is a project from a tutorial by Angela Yu, made by Manaal Syed.</p>
    </div>
    <%- include('footer'); -%>